**/__pycache__/
*.py[cod]
*$py.class
# --- Entornos Virtuales ---
venv/
.venv/
env/

# --- Python (Recursivo para todos los subdirectorios) ---
**/__pycache__/
*.py[cod]
*$py.class

# --- Empaquetado y Distribución ---
src/*.egg-info/
build/
dist/

# --- Resultados de Herramientas y Logs ---
boofuzz-results/
cve_reports/
test_pwn/
*.log
binsmasher.log

# --- Archivos de Pruebas / Maliciosos ---
malicious*
*.bin
*.mp3

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store

